examples/__pycache__/
../.DS_Store
.DS_Store
copy_research.sh
data/mnist/data/sklearn/
data/mnist/data/MNIST/
flearn/models/synthetic/__pycache__/
__pycache__/
data/emnist/data/EMNIST/
data/cifar10/data/cifar*
data/cifar10/data
data/mnist/data
backup
logs_bk